<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yhy.project.mapper.TopMapper">

    <update id="updateTop">
        update top set type=#{type} where id=#{id}
    </update>
    <insert id="saveTop">
        insert into top(type,goods_id) value(#{type},#{goodsId})
    </insert>
</mapper>